header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.html-body,
.main-body {
  display: flex;
  flex-direction: column;
}

.main-nav {
  order: -1;
}

@media (min-width: 768px) {
  .main-body {
    flex-direction: row;
    flex: 1;
  }
  .main-content {
    flex: 1;
  }
  .main-nav, .main-aside {
    flex: 0 0 12em;
  }
}
