*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font: 400 lem/1.4 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

ol, ul {
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em;
}

li {
  margin-bottom: 0.333em;
}

figure {
  margin: 0;
}

html, body, ul, li, a, input, label, button {
  // margin: 0px auto;
  // padding: 0px;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}



button,
input[type="submit"] {
  cursor: pointer;
}