*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 15px "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

ol, ul {
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em;
}

li {
  margin-bottom: 0.333em;
}

figure {
  margin: 0 0 0.75em 0;
}

html, body, ul, li, a, input, label, button {
  margin: 0px auto;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  color: black;
}

body {
  background-color: #f3f3f3;
}

button,
input[type="submit"] {
  cursor: pointer;
}

i {
  cursor: pointer;
}