.audio-player-container {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: #e2e6db;
  filter: invert(80%);
  border: solid 1px #92958c;
  box-shadow: 2px 2px 15px #e2e6db;
}

.audio-player {
  position: fixed;
  bottom: 0.2rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: 70px !important;
  // background-color: #b7b7b7;
  border-radius: 10px;
  // filter: invert(100%);
  padding: 0.2rem;
  // border: solid 1px;
  // box-shadow: 2px 2px 15px black;
}

#play-icon {
  margin: 0 20px 0 20px;
  width: 35px !important;
  height: 35px !important;
  cursor: pointer;
}

input[type=range].slider {
  margin-right: 20px !important;
}

.audio-player-container i {
  position: absolute;
  top: 8px;
  right: 10px;
}

.audio-player-container i:hover {
  color: white;
  cursor: pointer;
}