header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo {
  position: relative;
  top: 3px;
  background-image: url("https://zmp3-static.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.svg");
  width: 105px;
  height: 34px;
  background-size: cover;
}

.search-bar {
  height: 34px;
  width: 50%;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
}

.input-wrapper {
  display: flex;
  height: 34px;
}

.search-bar button {
  position: relative;
  display: inline-block;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-bar button > i {
  opacity: 0.6;
  margin: 5px;
  font-size: 20px;
}

.search-bar > .input-wrapper > input {
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  font-size: 14px;
  background-clip: padding-box;
  min-width: 200px;
  width: 90%;
  height: 90%;
}

.greeting-container {
  display: flex;
}

.greeting-container > p {
  padding-left: 10px;
}

.user-logo {
  background-image: url("https://s120.avatar.talk.zdn.vn/b/2/8/2/0/120/6a79f3f6c6c2bc41ddff7f554eee9ac0.jpg");
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-size: cover;
}

.greeting-container > .user-logo > .dropdown-content {
  display: none;
  position: relative;
  top: 25px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;
}

.greeting-container > .user-logo > .dropdown-content > li {
  display: block;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.greeting-container > .user-logo > .dropdown-content > li:hover {
   background-color: #ddd;
}

.greeting-container > .dropdown:hover .dropdown-content {
  display: block;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

