.greeting-container {
  display: flex;
  margin-top: 10px;
}

.greeting-container > p {
  padding-left: 10px;
}

.user-logo {
  background-image: url("https://s120.avatar.talk.zdn.vn/b/2/8/2/0/120/6a79f3f6c6c2bc41ddff7f554eee9ac0.jpg");
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-size: cover;
  cursor: pointer;
}

.greeting-container > .user-logo > .dropdown-content {
  display: none;
  position: relative;
  top: 40px;
  background-color: #f9f9f9;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;
}

.greeting-container > .user-logo > .dropdown-content > li {
  display: block;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  // width: 100%;
}

.greeting-container > .user-logo > .dropdown-content > li:hover {
   background-color: #ddd;
}

.greeting-container > .user-logo > button {
  cursor: pointer;
  padding: 10px;
}

.greeting-container > .user-logo > button:hover {
  background-color: #ddd;
}

.greeting-container > .dropdown:hover .dropdown-content {
  display: block;
  float: none;
  color: black;
  // padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

