.header-logo {
  position: relative;
  top: 3px;
  background-image: url("https://zmp3-static.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.svg");
  width: 105px;
  height: 34px;
  background-size: cover;
  cursor: pointer;
}
