.song-index {
  background-color: #fcfcfc;
}

.song-item-container {
  position: relative;
  display: inline-block;
  max-width: 210px;
}

.song-img-container {
  position: relative;
  height: 210px;
  width: 210px;
  overflow: hidden;
}

.song-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.song-img-container i {
  position: absolute;
  color: #999;
  opacity: 0;
}
.song-img-container i:hover {
  cursor: pointer;
  filter: brightness(180%);
}
.fa-play-circle {
  bottom: 75px;
  left: 75px;
  font-size: 60px;
}
.fa-plus {
  bottom: 5px;
  right: 5px;
  font-size: 20px;
}
.fa-heart {
  bottom : 5px;
  right: 35px;
  font-size: 20px;
}

.song-img-container:hover .song-img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  filter: brightness(70%);
}

.song-img-container:hover i {
  opacity: 1;
}

.song-item-container a {
  display: block;
  text-align: center;
}

.padding-left {
  padding-left: 0.8em;
}
